<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector de Cores</title>
</head>
<body>
    <h1>Detector de cores by Gabriel Ferreira Amorim</h1>
    <div>
        {% for opt in opcoes %}
            <button>{{opt}}</button>
        {% endfor %}
    </div>
    <img src="" alt="vídeo da sua câmera" height="80%">
    <ul>
        <li>Ligar/Desligar--</li>
        <li>Tirar foto--</li>
        <li>Preto e branco--</li>
        <li>Negativo--</li>
        <li>Focar no rosto--</li>
        <li>Parar de gravar--</li>
    </ul>
</body>
</html>